#loader004 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #151320;
}

/* https://www.youtube.com/watch?v=momUJFKwUGo&list=WL&index=30&t=7s&ab_channel=CODEWITHHOSSEIN */
#loader004 #loader {
    --diameter: 60px;
}

#loader004 #loader {
    width: var(--diameter);
    height: var(--diameter);
}

#loader004 #loader #loader_outer {
    width: 100%;
    height: 100%;
    border: calc(var(--diameter) / 10) solid transparent;
    border-top-color: #4bc8eb;
    border-bottom-color: #f13a8f;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

#loader004 #loader #loader_inner {
    width: 100%;
    height: 100%;
    border: calc(var(--diameter) / 10) solid transparent;
    border-top-color: #36f372;
    border-bottom-color: #ffffff;
    border-radius: 50%;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(360deg);
    }
    50% {
        transform: scale(0.6) rotate(-360deg);
    }
}