#checkbox002 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
}

/* https://www.youtube.com/watch?v=tVL7Au0B1Cs&list=WL&index=11&ab_channel=OnlineTutorials */
#checkbox002 #checkbox {
    --size: 60px;
}

#checkbox002 #checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#checkbox002 #checkbox label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

#checkbox002 #checkbox label input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: #1b1b1b;
    box-shadow:
        0 calc(var(--size) / 20) calc(var(--size) / 15) rgba(0, 0, 0, 1),
        inset 0 calc(var(--size) / -30) calc(var(--size) / 12) rgba(0, 0, 0, 0.8),
        inset 0 calc(var(--size) / 30) calc(var(--size) / 30) rgba(255, 255, 255, 0.5),
        0 0 0 calc(var(--size) / 30) #000,
        0 0 0 calc(var(--size) / 12) #0c0c0c,
        0 0 0 calc(var(--size) / 10)#080808;
    cursor: pointer;
}

#checkbox002 #checkbox label .fa {
    position: absolute;
    font-size: calc(var(--size) / 1.875);
    color: #0c0c0c;
}

#checkbox002 #checkbox label input[type='checkbox']:checked {
    box-shadow:
        0 calc(var(--size) / 20) calc(var(--size) / 15) rgba(0, 0, 0, 1),
        inset 0 calc(var(--size) / -30) calc(var(--size) / 12) rgba(0, 0, 0, 0.8),
        inset 0 calc(var(--size) / 30) calc(var(--size) / 30) rgba(255, 255, 255, 0.5),
        0 0 0 calc(var(--size) / 30) #000,
        0 0 0 calc(var(--size) / 12) #0c0c0c,
        0 0 0 calc(var(--size) / 10)#00ffe7;
}

#checkbox002 #checkbox label input[type='checkbox']:checked ~ .fa {
    color: #00ffe7;
    text-shadow:
        0 0 15px #00a1ff,
        0 0 30px #00a1ff;
}