#button007 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    gap: 30px;
}

/* https: //www.youtube.com/watch?v=83qXTul1oP4&list=WL&index=16&ab_channel=OnlineTutorials */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Slab:wght@200&family=Roboto:wght@500&display=swap');

#button007 #button {
    --size: 100px;
}

#button007 #button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    text-shadow: -2px -2px 5px #ffffff;
    font-family: 'Courgette', cursive;
    font-size: calc(var(--size) / 4.25);
    color: #333333;
    filter: drop-shadow(calc(var(--size) / 30) calc(var(--size) / 30) calc(var(--size) / 15) #ffffff);
    box-shadow:
        calc(var(--size) / 15) calc(var(--size) / 15) calc(var(--size) / 15) rgba(0, 0, 0, 0.05),
        calc(var(--size) / 15) calc(var(--size) / 15) calc(var(--size) / 7.5) rgba(0, 0, 0, 0.05),
        inset calc(var(--size) / 15) calc(var(--size) / 15) calc(var(--size) / 15) rgba(0, 0, 0, 0.05),
        inset calc(var(--size) / -15) calc(var(--size) / -15) calc(var(--size) / 10) rgba(255, 255, 255, 0.9);
}

#button007 #button:before {
    content: '';
    position: absolute;
    top: calc(var(--size) / 4.5);
    left: calc(var(--size) / 6);
    width: calc(var(--size) / 7.5);
    height: calc(var(--size) / 7.5);
    border-radius: 50%;
    background-color: #ffffff;
    filter: blur(calc(var(--size) / 75));
}

#button007 #button:after {
    content: '';
    position: absolute;
    top: calc(var(--size) / 6);
    left: calc(var(--size) / 3);
    width: calc(var(--size) / 15);
    height: calc(var(--size) / 15);
    border-radius: 50%;
    background-color: #ffffff;
    filter: blur(calc(var(--size) / 75));
}

#button007 #button:hover {
    box-shadow:
        calc(var(--size) / 15) calc(var(--size) / 15) calc(var(--size) / 15) rgba(0, 0, 0, 0.08),
        calc(var(--size) / 15) calc(var(--size) / 15) calc(var(--size) / 7.5) rgba(0, 0, 0, 0.08),
        inset calc(var(--size) / 15) calc(var(--size) / 15) calc(var(--size) / 15) rgba(0, 0, 0, 0.08),
        inset calc(var(--size) / -15) calc(var(--size) / -15) calc(var(--size) / 10) rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

#button007 #button #heart {
    font-size: calc(var(--size) / 2);
    color: #ff5353;
}